<h1>Projektit</h1>
<div class="container responsive">
  <div class="col-sm-4">
    <div class="card sm-6" style="margin-bottom: 10px">
      <img src="../../assets/astmalääkelaskuri.jpg" />
      <div class="card-body">
        <p class="card-text"><strong>C#</strong> Astmalääkelaskuri v. 1</p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="https://github.com/Belindra/astmalaskuri" target="_blank">Lähdekoodi</a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px; font-size:0.95rem;">
        <img src="../../assets/astmalääkelaskuri.jpg" />
        <div class="card-body">
          <p class="card-text"><strong>C#, Entity Framework</strong> Astmalääkelaskuri v. 2</p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/astmalaskuri-tietokanta" target="_blank">Lähdekoodi - kesken</a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-sm-4">
    <div class="card sm-6" style="margin-bottom: 10px">
      <img src="../../assets/kayttajatarina.png" />
      <div class="card-body">
        <p class="card-text"><strong>C#</strong> Pankkiautomaatti</p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="https://github.com/Belindra/pankkiautomaatti" target="_blank">Lähdekoodi</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card sm-6" style="margin-bottom: 10px">
      <img src="../../assets/recipe-book.jpg" />
      <div class="card-body">
        <p class="card-text">
          <strong>Angular</strong> Reseptikirja - kesken
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="https://github.com/Belindra/angular-recipe-book" target="_blank">Lähdekoodi</a>
          <a href="https://angular-recipe-book-7f36b.web.app/recipes" target="_blank">Hostattu versio</a>
        </div>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px">
        <img src="../../assets/tuoteluettelo.jpg" />
        <div class="card-body">
          <p class="card-text">
            <strong>Angular</strong> Tuoteluettelo
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/angular-tuoteluettelo" target="_blank">Lähdekoodi</a>
            <a href="https://angular-tuoteluettelo.web.app/" target="_blank">Hostattu versio</a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px">
        <img src="../../assets/calendar.jpg" />
        <div class="card-body">
          <p class="card-text">
            <strong>Angular </strong> Joulukalenteri
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/angular-joulukalenteri" target="_blank">Lähdekoodi</a>
            <a href="https://joulukalenteri-app.web.app/" target="_blank">Hostattu versio</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px">
        <img src="../../assets/datingapp.jpg" />
        <div class="card-body">
          <p class="card-text" style="font-size:0.85rem;">
            <strong>Angular, ASP.NET ja Entity Framework</strong> Dating app
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/dating-app" target="_blank">Lähdekoodi</a>
            <a href="https://udemy-dating-app.herokuapp.com/" target="_blank">Hostattu versio</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px">
        <img src="../../assets/mystore.jpg" />
        <div class="card-body">
          <p class="card-text"><strong>Angular</strong> MyStore</p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/angular-tutorial-mystore" target="_blank">Lähdekoodi</a>
          </div>
        </div>
      </div>
    </div>

      <div class="col-sm-4">
        <div class="card sm-6" style="margin-bottom: 10px">
          <img src="../../assets/ng5.jpg" />
          <div class="card-body">
            <p class="card-text"><strong>Angular</strong> Bucket list</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://github.com/Belindra/ng5" target="_blank">Lähdekoodi</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card sm-6" style="margin-bottom: 10px">
          <img src="../../assets/tourofheroes.jpg" />
          <div class="card-body">
            <p class="card-text"><strong>Angular</strong> Tour of Heroes</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="https://github.com/Belindra/angular-tour-of-heroes" target="_blank">Lähdekoodi</a>
              <a href="https://ng-tour-of-heroes-6ee3c.web.app/" target="_blank">Hostattu versio</a>
            </div>
          </div>
        </div>
      </div>
    

    <div class="col-sm-4">
      <div class="card sm-6" style="margin-bottom: 10px">
        <img src="../../assets/asiakastutorial.jpg" />
        <div class="card-body">
          <p class="card-text"><strong>Angular</strong> Asiakastutorial</p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="https://github.com/Belindra/angular-asiakastutorial" target="_blank">Lähdekoodi</a>
            <a href="https://build-your-1st-ng-app.web.app/customers" target="_blank">Hostattu versio</a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-sm-4">
    <div class="card sm-6" style="margin-bottom: 10px">
      <img src="../../assets/kahvila.jpg" />
      <div class="card-body">
        <p class="card-text"><strong>Angular</strong> Kahvila</p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="https://github.com/Belindra/angular-kahvila" target="_blank">Lähdekoodi</a>
          <a href="https://kahvila-app.web.app/" target="_blank">Hostattu versio</a>
        </div>
      </div>
    </div>
  </div>

<div class="col-sm-4">
  <div class="card sm-6" style="margin-bottom: 10px">
    <img src="../../assets/direktiivit.jpg" />
    <div class="card-body">
      <p class="card-text"><strong>Angular</strong> Sovella direktiivejä</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="https://sovella-directives.web.app/" target="_blank">Hostattu versio</a>
      </div>
    </div>
  </div>
</div>
</div>