<div class="container">
  <div class="info">
    <h2>Minusta</h2>
    <hr/>
    <div class="image-text">
  <p class="text">  
    Olen kiinnostunut frontend -puolesta ja se onkin vahvuuksiani. Tavoitteeni
    on työskennellä urani ensimmäiset vuodet frontend -kehittäjänä ja siirtyä
    sen jälkeen joko backend -puolelle tai fullstack -kehittäjäksi.
    Luonteeltani olen järjestelmällinen ja ajattelutavaltani käytännöllinen
    asiantuntija, joka on erityisesti hyvä hahmottamaan laajoja
    kokonaisuuksia. Olen päätöksissäni analyyttinen ja olen sitä mieltä, että
    hyvin suunniteltu on enemmän kuin puoliksi tehty.
  </p>
  <img
  class="rounded-circle image"
  src="../../assets/omakuva.jpg"
  alt="Sirene Karri"/>
    </div>
  </div>

  <div class="info">
    <h2>Koulutus</h2>
    <hr/>
    <p>
      <strong
        >Tieto- ja viestintätekniikan perustutkinto, Helsinki Business College
        (08/2020 -12/2021)</strong
      >
    </p>
    <p>
      Opinnot sisältävät C#, TypeScript, HTML ja CSS, SQL Server ja Entity
      Framework, Angular, Git, Azure DevOps, ASP.NET, yksikkötestaus ja CI/CD.
    </p>
    <p>
      <strong
        >Filosofian maisteri, FM Oulun yliopisto (06/2015 - 04/2017)</strong
      >
    </p>
    <p>
      Pääaine kulttuuriantropologia, sivuaine valtio-oppi. Pro gradu aiheesta
      <a href="http://jultika.oulu.fi/Record/nbnfioulu-201703091330">tasa-arvoinen avioliittolaki ja digitaalinen poliittinen osallistuminen.</a>
    </p>
    <p>
      <strong
        >Humanististen tieteiden kandidaatti, HutK Oulun yliopisto (09/2012 -
        06/2015)</strong
      >
    </p>
    <p>
      Pääaine kulttuuriantropologia, sivuaineet viestintä, valtio-oppi ja
      sosiologia.
    </p>
  </div>
  <div class="info">
    <h2>Kokemus</h2>
    <hr/>
    <p>
      <strong
        >Projektitutkija (06/2016 - 12/2019) Kulttuuripolitiikan tutkimuskeskus
        Cupore, määräaikainen sopimus</strong
      >
    </p>
    <p>
      Tein eri tutkimushankkessa tiedon suodattamista, kokoamista ja jalostusta
      sekä tiedon visualisointia.
    </p>
    <p>
      Työni sisälsi haastatteluja, osallistuvaa havainnointia, kyselyjen tekoa
      SurveyPal:lla, tilastollisen aineiston käsittelyä SPSS ohjelmalla sekä
      tutkimusraporttien ja muiden julkaisujen kirjoittamista.  Työ on opettanut minulle ongelmanratkaisukykyä, tiimityöskentelytaitoja ja
      oman työn organisointia.
    </p>
     
    <p>
      <i>Julkaisut: </i>
      <li>
        <a href="https://www.cupore.fi/fi/julkaisut/cuporen-julkaisut/avaus"
          >Avaus -tutkimusraportti</a
        >
      </li>
      <li>
        <a
          href="https://www.cupore.fi/fi/julkaisut/cuporen-julkaisut/kaupunkikehittaminen-ja-kulttuuripolitiikka"
          >EspooCult -tutkimusraportti</a
        >
      </li>
      <li>
        <a
          href="https://www.cupore.fi/fi/tietokortit/espoocult-tietokortti-3-kulttuuritilaisuuksissa-kaeyminen-ja-luovat-harrastukset-espoossa"
          >EspooCult -tietokortti 3</a
        >
      </li>
      <li>
        <a
          href="https://www.cupore.fi/fi/tietokortit/kohti-avointa-ja-osallistavaa-kaupunkia-kulttuurinen-moninaisuus-osallistuminen-ja-saavutettavuus"
          >EspooCult -tietokortti 4</a
        >
      </li>
      <li>
        <a
          href="https://www.espoo.fi/fi-FI/Espoon_kaupunki/Tietoa_Espoosta/Tilastot_ja_tutkimukset/Muut_teemat/Eetvarttineljannesvuosijulkaisu"
          >Kulttuuritilaisuuksissa kävijyys ja ei-kävijyys Espoossa</a
        >
      </li>
    </p>
    <p>
      <strong
        >Luottamusvaltuutettu (10/2017 - 10/2019) Kulttuuripolitiikan
        tutkimuskeskus Cupore
      </strong>
    </p>
    <p>Henkilöstön edustamista Cuporen johtoryhmän kokouksissa. Strategian kehittämistä yhdessä muun johtoryhmän kanssa.</p>
    <p>
      Sisäistä tiedottamista esimerkiksi sopimusneuvottelujen tilasta ja
      tulevista palkankorotuksista.
    </p>

    <p>
      <strong
        >Harjoittelija (03/2016 - 05/2016) Kulttuuripolitiikan tutkimuskeskus
        Cupore
      </strong>
    </p>
    <p>
      Opintoihin kuuluva työharjoittelujakso, jonka aikana toimin erilaisissa
      projektiluontoisissa tehtävissä, kuten esimerkiksi tiedonhaussa ja
      kulttuuripolitiikan kirjaston kokoamisessa.
    </p>
    <p>
      Pääasiallinen tehtävänä oli tiedonhaku eri tutkimushankkeissa. Tartuin
      kuitenkin ylimääräisiinkin hommiin ja kehuja sain johtajalta tehtävien
      nopeasta toteuttamisesta sekä siitä, että lähdin itsenäisesti tekemään
      heti tehtäviä.
    </p>
  </div>
</div>
